*{
    margin: 0;
    padding: 0;

    overflow: hidden;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    /* background: orange; */
    background-image: url("../img/wood.jpg");
    background-size: cover;
}

#globalShader{
    position: fixed;
    width: 120%;
    height: 100vh;
    top: 0;
    left: 0;

    background-image: url("../img/shader.png");
    background-size: cover;

    z-index: 50;

    animation-duration: 10s;
    animation-name: movement;
    animation-iteration-count: infinite;

    pointer-events: none;
}

@keyframes movement{
    0%{
        width: 100%;
        left: 0;
    }
    50%{
        width: 120%;
        left: -10%;
    }
    100%{
        width: 100%;
        left: 0;
    }
}

#main{
    position: relative;
    box-sizing: border-box;
    transform: rotate(3deg);

    width: 80%;
    height: 80%;
    min-width: 600px;
    max-width: 1000px;
    margin: auto;
    padding: 0 24px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-image: url("../img/cardboard.jpg");
    box-shadow: 2px 4px 2px 2px rgba(0, 0, 0, 0.5);
    
}


#menu{
    height: 80px;
    padding-left: 80px;
    display: flex;
    flex-direction: row;

    border: 1px solid blue;
}

.tab{
    /* width: 40px; */
    box-sizing: border-box;

    height: 100%;
    padding: 20px 40px;

    border: 1px solid yellow;
}


#container{
    height: 80%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    border: 1px solid red;
}

#center{
    width: 60%;
    height: 90%;

    margin-bottom: 24px;
    align-self: flex-end;

    /* border: 1px solid black; */
    background-image: url("../img/paper.jpg");
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.33);

    /* transform: rotate(-5deg); */
}


#data{
    display: grid;
    grid-gap: 16px 8px;
    grid-template-columns: repeat(5, 1fr) / 1fr 1fr;
    grid-template-areas: "nt .."
                         ".. .."
                         "bt bi"
                         "at ai"
                         "wt wi";

    box-sizing: border-box;
    width: 35%;
    
    margin: 0 12px 32px 12px;
    padding: 24px 8px;

    align-self: flex-end;

    font-family: Courier New, Courier, monospace;
    font-size: 0.9em;

    background-color: rgba(255, 255, 255, 0.5);
    /* border: 2px dashed rgba(255, 188, 137, 0.5); */
    border-radius: 8px;
}
#data > .title{
    text-align: right;
}

.title.name{ grid-area: nt;}

.title.birthday{ grid-area: bt;}
.info.birthday{ grid-area: bi;}

.title.adress{ grid-area: at;}
.info.adress{ grid-area: ai;}

.title.web{ grid-area: wt;}
.info.web{ grid-area: wi;}


#photo{
    position: absolute;
    top: 5px;
    right: 9px;

    width: 360px;
    height: 360px;
    float: left;
    
    display: flex;
    align-items: center;

    /* background-color: #4b462c; */
    background: linear-gradient(110deg, #6b6236, #4b462c);
    /* border: 12px solid #4b462c; */
    border-radius: 50%;
    box-shadow: -1px 1px 2px 2px rgba(0, 0, 0, 0.33);
}

#photo img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    margin: 0 auto;
}


.title{
    font-weight: bold;
}